@charset "UTF-8";
/*
Theme Name: Zanini Embalagens
Theme URI: https://www.torresdigital.com.br/
Template: zigcy-lite
Author: Torres Digital | Sites → Lojas Virtuais e e-Commerce
Author URI: https://www.torresdigital.com.br/
Description: Somos uma Agência Gaúcha que trabalha com Desenvolvimento Web voltado para o Mercado do e-Commerce: Sites, Aplicativos, Lojas Virtuais, Marketplaces, WordPress e Woocommerce, integrados com os Principais Cartões e Soluções de Pagamentos do Brasil e do Mundo; tais como Cielo, CyberSource, PagSeguro, Stripe, Vindi, MasterCard, Visa, American Express, etc. A Torres Digital também conta com uma Equipe Forte, com um Know-how amplo e moderno para trabalhos com Publicidade e Propaganda. – Menos é mais
Tags: right-sidebar,left-sidebar,custom-menu,featured-images,threaded-comments,translation-ready,custom-logo,blog,theme-options,editor-style,e-commerce
Version: 1.0.1632822169
Updated: 2021-09-28 06:42:49

*/

/*All Begin*/

/*google fonts font-family: font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/*Padrao*/

body *:focus { outline-offset: none;  outline: none } body { background-color: #fff; }

h1, h2, h3, h4, h5, html .store-mart-lite-breadcrumb {font-family: 'Open Sans', sans-serif}

html .breadcrumb-title h1.page-title {
    font-size: 30px;
    color: #fff;
    text-shadow: 1px 1px 2px #717070;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;}

/*Head*/
.store-mart-lite-logos form .search-wrap {
    border-radius: 30px;
}
html .sm_search_form button#searchsubmit {
    padding: 10.5px 20px;
    border-radius: 30px;
    width: 20%;
    right: 1px;
    border: 4px solid #f4f4f4;
    top: 0px;
}




/*Logo*/

/*Menu*/

/*Home*/
.plx_cta_section .container {
    padding: 0 10px;
    width: 100%;
    position: relative;
    display: contents;
    margin: 0 auto;
}
#plx_prod_cat_section .container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: contents;
}

/*Blog*/

/*Woocommerce*/
.woocommerce .store-mart-lite-bread-home .woocommerce-breadcrumb a,
.woocommerce .store-mart-lite-bread-home .woocommerce-breadcrumb, span.delimiter {
    color: #fff;
    text-shadow: 1px 1px 1px #939393;
    text-transform: capitalize;
}
html .single_add_to_cart_button.button.alt {
    background: #3db913;
    background-color: rgb(61, 185, 19);
    border-radius: 30px;
    margin: 0 3px;
    position: relative;
    display: inherit;
    font-size: 14px;
    border: 4px solid #f4f4f4;
}
html .quantity input.input-text{
    border-radius: 30px;
    padding: 0px 7px;
    width: 59px !important;
    border: 3px solid #eee;
    height: 40px !important;
    font-weight: 600;
    top: 2px;
    position: relative;
}
.sml-single-cart-wrapp a.add_to_wishlist::before,
.sml-single-cart-wrapp a.link-wishlist::before,
.sml-single-cart-wrapp .compare-wrap a::before {
    border-radius: 30px;

}
html .sml-single-cart-wrapp a.add_to_wishlist:hover::before,
html .sml-single-cart-wrapp a.link-wishlist:hover::before,
html .sml-single-cart-wrapp .compare-wrap a:hover::before {
    background-color: #3db913;
    color: #FFF;
    border-radius: 30px;
    font-weight: 600;
    border: 1px solid #f4f4f4;
}

html .woocommerce span.onsale::after {
    top: 0.5px;
    left: -14px;
}
html .woocommerce span.onsale {
    font-size: 15px;
    font-weight: 600;
    text-shadow: 1px 1px 1px #848484;
    letter-spacing: 1px;
}

html .summary.entry-summary p.price bdi {
    color: #039313;
    font-size: 22px;
}
html .store-mart-lite-feat-prod-cat-wrap .woocommerce ul.products.columns-4 li.product {box-shadow: 0 0 4px rgba(0,0,0,.1); min-height: 350px;}

html .sml-product-title-wrapp, html .woocommerce ul.products li.product .woocommerce-placeholder {
    border: none;
}








/*Footer*/
html .sml-scrollup span::before,
.sml-scrollup span::after {
    border-radius: 30px;
}


/*BootStrap*/

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/




/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 360px) {

}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 643px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 1024px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1280px) {

}



/*=====================================================
=            Bootstrap 2.3.2 Media Queries            =
=====================================================*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 643px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*
Based on:
1. http://stephen.io/mediaqueries
2. https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/

/* iPhone 6 in portrait & landscape */
@media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px) {

}

/* iPhone 6 in landscape */
@media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : landscape) {

}

/* iPhone 6 in portrait */
@media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : portrait) {

}

/* iPhone 6 Plus in portrait & landscape */
@media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px) {

}

/* iPhone 6 Plus in landscape */
@media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (orientation : landscape) {

}

/* iPhone 6 Plus in portrait */
@media only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (orientation : portrait) {

}

/* iPhone 5 & 5S in portrait & landscape */
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 568px) {

}

/* iPhone 5 & 5S in landscape */
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 568px)
    and (orientation : landscape) {

}

/* iPhone 5 & 5S in portrait */
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 568px)
    and (orientation : portrait) {

}

/*
iPhone 2G, 3G, 4, 4S Media Queries
It's noteworthy that these media queries are also the same for iPod Touch generations 1-4.
*/

/* iPhone 2G-4S in portrait & landscape */
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px) {

}

/* iPhone 2G-4S in landscape */
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px)
    and (orientation : landscape) {

}

/* iPhone 2G-4S in portrait */
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px)
    and (orientation : portrait) {

}

/* iPad in portrait & landscape */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)  {

}

/* iPad in landscape */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape) {

}

/* iPad in portrait */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait) {

}

/* Galaxy S3 portrait and landscape */
@media screen
    and (device-width: 320px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 2) {

}

/* Galaxy S3 portrait */
@media screen
    and (device-width: 320px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 2)
    and (orientation: portrait) {

}

/* Galaxy S3 landscape */
@media screen
    and (device-width: 320px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 2)
    and (orientation: landscape) {

}

/* Galaxy S4 portrait and landscape */
@media screen
    and (device-width: 320px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3) {

}

/* Galaxy S4 portrait */
@media screen
    and (device-width: 320px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) {

}

/* Galaxy S4 landscape */
@media screen
    and (device-width: 320px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: landscape) {

}

/* Galaxy S5 portrait and landscape */
@media screen
    and (device-width: 360px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3) {

}

/* Galaxy S5 portrait */
@media screen
    and (device-width: 360px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) {

}

/* Galaxy S5 landscape */
@media screen
    and (device-width: 360px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: landscape) {

}

/* HTC One portrait and landscape */
@media screen
    and (device-width: 360px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3) {

}

/* HTC One portrait */
@media screen
    and (device-width: 360px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) {

}

/* HTC One landscape */
@media screen
    and (device-width: 360px)
    and (device-height: 640px)
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: landscape) {

}

/*
iPad 3 & 4 Media Queries
If you're looking to target only 3rd and 4th generation Retina iPads
(or tablets with similar resolution) to add @2x graphics,
or other features for the tablet's Retina display, use the following media queries.
*/

/* Retina iPad in portrait & landscape */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (-webkit-min-device-pixel-ratio: 2) {

}

/* Retina iPad in landscape */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape)
    and (-webkit-min-device-pixel-ratio: 2) {

}

/* Retina iPad in portrait */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio: 2) {

}

/*
iPad 1 & 2 Media Queries
If you're looking to supply different graphics or choose different typography
for the lower resolution iPad display, the media queries below will work
like a charm in your responsive design!
*/

/* iPad 1 & 2 in portrait & landscape */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (-webkit-min-device-pixel-ratio: 1) {

}

/* iPad 1 & 2 in landscape */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape)
    and (-webkit-min-device-pixel-ratio: 1) {

}

/* iPad 1 & 2 in portrait */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio: 1) {

}

/* iPad mini in portrait & landscape */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (-webkit-min-device-pixel-ratio: 1) {

}

/* iPad mini in landscape */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape)
    and (-webkit-min-device-pixel-ratio: 1) {

}

/* iPad mini in portrait */
@media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait)
    and (-webkit-min-device-pixel-ratio: 1) {

}

/* Galaxy Tab 10.1 portrait and landscape */
@media
    (min-device-width: 800px)
    and (max-device-width: 1280px) {

}

/* Galaxy Tab 10.1 portrait */
@media
    (max-device-width: 800px)
    and (orientation: portrait) {

}

/* Galaxy Tab 10.1 landscape */
@media
    (max-device-width: 1280px)
    and (orientation: landscape) {

}

/* Asus Nexus 7 portrait and landscape */
@media screen
    and (device-width: 601px)
    and (device-height: 906px)
    and (-webkit-min-device-pixel-ratio: 1.331)
    and (-webkit-max-device-pixel-ratio: 1.332) {

}

/* Asus Nexus 7 portrait */
@media screen
    and (device-width: 601px)
    and (device-height: 906px)
    and (-webkit-min-device-pixel-ratio: 1.331)
    and (-webkit-max-device-pixel-ratio: 1.332)
    and (orientation: portrait) {

}

/* Asus Nexus 7 landscape */
@media screen
    and (device-width: 601px)
    and (device-height: 906px)
    and (-webkit-min-device-pixel-ratio: 1.331)
    and (-webkit-max-device-pixel-ratio: 1.332)
    and (orientation: landscape) {

}

/* Kindle Fire HD 7" portrait and landscape */
@media only screen
    and (min-device-width: 800px)
    and (max-device-width: 1280px)
    and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Kindle Fire HD 7" portrait */
@media only screen
    and (min-device-width: 800px)
    and (max-device-width: 1280px)
    and (-webkit-min-device-pixel-ratio: 1.5)
    and (orientation: portrait) {

}

/* Kindle Fire HD 7" landscape */
@media only screen
    and (min-device-width: 800px)
    and (max-device-width: 1280px)
    and (-webkit-min-device-pixel-ratio: 1.5)
    and (orientation: landscape) {

}

/* Kindle Fire HD 8.9" portrait and landscape */
@media only screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 1.5) {

}

/* Kindle Fire HD 8.9" portrait */
@media only screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 1.5)
    and (orientation: portrait) {

}

/* Kindle Fire HD 8.9" landscape */
@media only screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 1.5)
    and (orientation: landscape) {

}

/* Laptops non-retina screens */
@media screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 1) {

}

/* Laptops retina screens */
@media screen
    and (min-device-width: 1200px)
    and (max-device-width: 1600px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (min-resolution: 192dpi) {

}

/* Apple Watch */
@media
    (max-device-width: 42mm)
    and (min-device-width: 38mm) {

}

/* Moto 360 Watch */
@media
    (max-device-width: 218px)
    and (max-device-height: 281px) {

}



/* 1.0 Normalize Styles based on Normalize v5.0.0 @link https: //github.com/necolas/normalize.css
@import url('https://www.fontify.me/wf/d1e0123011c04b12846e626981f6fdd4');

@import url('https://fonts.googleapis.com/css?family=Poppins');
-moz-osx-font-smoothing: grayscale; linear-gradient(to right, #58c7ec, #51ff6c)
/*20.0 Print /http://bridgelanding.app/wp-content/uploads/2017/06/logo-stick.png
